
.classpath

*.prefs

*.xml

*.apk

*.dex

*.class

*.jar

*.cache

*.ap_

gen/com/example/octopus/R.java

proguard-project.txt

*.properties

.project

bin/res/drawable-hdpi/ic_launcher.png

bin/res/drawable-mdpi/ic_launcher.png

bin/res/drawable-xhdpi/ic_launcher.png

bin/res/drawable-xxhdpi/ic_launcher.png

gen/com/example/quadrosmoveis/R.java

ic_launcher-web.png

res/drawable-hdpi/ic_launcher.png

gen/com/example/quadrosmoveis/BuildConfig.java

res/drawable-mdpi/ic_launcher.png

res/drawable-xhdpi/ic_launcher.png

res/drawable-xxhdpi/ic_launcher.png
